# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jakub\AppData\Local\Temp\POP_2018_12_12_projekt_1_Kaminski_Jakub_EiT_2_175728.cpp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
